<!DOCTYPE html>
<html lang="en ">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
		integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<title>Deteksi Penyakit Kulit Wajah</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
	<header>
		<a href="#" class="logo">Your<span>.Skin</span></a>
		<div class="menuToggle" onclick="toggleMenu();"></div>
		<ul class="navigation">
			<li><a href="#banner">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#detection">Detection</a></li>
		</ul>
	</header>

	<main>
		<article>
			<section class="banner" id="banner">
				<div class="content">
					<h2>Selamat Datang</h2>
					<p>Cari Tahu Jenis Penyakit Kulit Wajah Anda Disini</p>
					<a href="#detection" class="btn">Coba Sekarang</a>
				</div>
			</section>
		</article>

		<article>
			<section class="about" id="about">
				<div class="row">
					<div class="col50">
						<h2 class="titleText"><span>A</span>bout us</h2>
						<p>Your.Skin adalah sebual website yang di desain untuk
							deteksi penyakit pada kulit wajah manusia. Pada pendeteksian ini dilakukan dengan cara
							menghitung ketepatan pada sistem. Dengan adanya sistem deteksi ini diharapkan mampu
							menyelesaikan permasalahan kulit wajah yang seringkali disepelekan hingga mengakibatkan
							masalah yang serius.</p>
						<hr>
						<p>Sistem ini memanfaatkan Machine Learning sebagai pendeteksi penyakit pada kulit wajah manusia
						</p>
					</div>
				</div>
			</section>
		</article>

		<article>
			<section class="detection" id="detection">
				<div class="title">
					<h2 class="titleText">Try<span> Your.S</span>kin Now!</h2>
					<h3>Ambil Foto Wajah Anda</h3>
					<p>Pastikan anda mengikuti pedoman dibawah ini untuk hasil terbaik...</p>
					<ul class="list list--guidelines">
						<li class="list--item">
							<div class="text">Hapus makeup dan lepaskan kacamata</div>
						</li>
						<li class="list--item">
							<div class="text">Pastikan rambut anda tidak menutupi wajah anda</div>
						</li>
						<li class="list--item">
							<div class="text">Melihat kamera dan jaga ekspresi netral</div>
						</li>
						<li class="list--item">
							<div class="text">Tetap berada di area terang dan memiliki cahaya natural</div>
						</li>
					</ul>
				</div>


				<form action="prediction" method="POST" enctype="multipart/form-data">
					<input name="img" type="file">
					<br>
					<br>
					<input type="submit" name="btn">
				</form>
				
				{% if prediction %}
				<h2> Prediksi Penyakit : <b> {{prediction}}</b></h2>
				<h2>Akurasi : {{accuracy}}%</h2>
				<img src="{{pathImage}}" height="400px">
				<br>
				<br>
				<p>{{definisi}}</p>
				<p><b>Solusi:</b> {{solusi}}</p>
				{% endif %}
			</section>
		</article>
	</main>

	<footer class="text-center footer">
		<p>&copy; By <a href="https://www.instagram.com/lalasylla_" target="_blank">Sylla Ayu Kusumahati & Hilmi
				Hermawan | 2021</a></p>
	</footer>

	<script src="{{ url_for('static',filename='script.js') }}"> </script>
</body>

</html>